/*@bg: #2d2d37; // Dark blue*/
/*@primary: #fd6b21; // Orange*/

* {
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}
input[type="text"] {
  border-radius: 0;
}
input[type="submit"] {
  border-radius: 0;
}
input[type="email"] {
  border-radius: 0;
}
input[type="button"] {
  border-radius: 0;
}
input[type="checkbox"] {
  position: relative;
  appearance: none;
  outline: none;
  width: 20px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #ffffff;
  transition-duration: 200ms;
}
/*html {
  max-width: 1150px;
  margin: auto;
  background-color: #eee;
}*/
input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6.5px;
  height: 6.5px;
  background-color: transparent;
  border: 1px solid darkgrey;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked {
  border-color: #4ed164;
  box-shadow: inset 20px 0 0 0 #4ed164;
}

input[type="checkbox"]:checked:after {
  left: 10px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.05);
}

input[type="radio"] {
  position: relative;
  appearance: none;
  outline: none;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #ffffff;
  transition-duration: 200ms;
}

input[type="radio"]:checked {
  border-color: #4ed164;
  box-shadow: inset 20px 0 0 0 #4ed164;
}
a {
  text-decoration: none;
  color: black;
}
.wrapper {
  margin: auto;
}
body {
  /*background-image: url("BodyBackground5.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("BodyBackground2.jpg");
  background-color: #445f6652;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  font-size: 16px;
  font-family: Roboto;
  overflow-x: hidden;
}
#ScrollToTopIcon {
  display: none;
}
#ScrollTopNavBarMenu {
  display: none;
  position: fixed;
  flex-direction: row-reverse;
  justify-content: space-between;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: white;
  width: 100%;
  padding: 5px 0;
}
#TopOnScrollIcon {
  margin-left: 50px;
  margin-top: 8px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  height: 55px;
  position: relative;
  z-index: 2;
  /*background-color: #c5c5c575;*/
  /*background-color: rgba(0, 49, 78, 0.658);*/
  /*border-bottom-left-radius: 60px;*/
  background-color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
header div ul {
  list-style-type: none;
}
header div ul li,
#ScrollTopNavBarMenu ul li {
  font-weight: bolder;
  color: rgb(106, 176, 204);
  /*color: white;*/
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
}
header div ul li:hover,
#ScrollTopNavBarMenu ul li:hover {
  color: crimson;
}
header div ul li.active,
#ScrollTopNavBarMenu ul li.active {
  color: crimson;
}
#NavbarRightIcons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  /*height: 100%;
  background-color: #4286a554;*/
  /*padding: 4px;*/
  padding-top: 8px;
  margin-right: 20px;
  border-radius: 4px;
}
#NavbarRightIcons:hover {
  /*background-color: #00728169;*/
}
.callUsBtn {
  background-color: aliceblue;
  margin-top: 4px;
  padding: 10px;
  border-radius: 4px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.callUsBtn:hover {
  background-color: lightblue;
}
.loginBtn,
.logoutBtn {
  text-align: right;
  color: #1c809d;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}
.loginBtn img,
.logoutBtn img {
  width: 20px;
}
.loginBtn sup,
.logoutBtn sup {
  font-size: 14px;
  margin-right: 4px;
}
.loginBtnContent,
.logoutBtnContent {
  width: fit-content;
  font-weight: bolder;
  margin: auto;
  /*background-color: #7effd8;*/
}
.logoutBtnContent:hover,
.loginBtnContent:hover {
  /*background-color: #ffa46f;*/
  color: crimson;
}
.NALogo,
.JoinBtn {
  width: 60px;
  height: 25px;
  max-height: 70px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 4px;
}
.JoinBtn {
  margin-top: -10px;
  background-color: #00816b;
  font-size: 17px;
  color: white;
  font-weight: bolder;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionSeperatorParent {
  text-align: center;
  width: 80%;
  min-width: 300px;
  margin: auto;
  padding: 40px 0;
}
.sectionSeperator {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(216, 216, 216);
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.sectionSeperator span {
  background: #fff;
  padding: 0 10px;
  font-size: 17px;
  /*color: rgb(165, 165, 165);*/
  color: orangered;
}
.additionalDashboardImages {
  width: 100vw;
  max-width: 900px;
  text-align: center;
  margin: auto;
}
.additionalDashboardImages div img {
  max-height: 400px;
}
.additionalDashboardImages div p {
  margin-left: 4px;
  margin-right: 4px;
}
.additionalImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.AllAdditionalPhotos {
  margin: auto;
  width: 100vw;
  max-width: 900px;
  margin-bottom: 5px;
}
.AllAdditionalPhotos div img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
main {
  min-height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -22px;
  padding-bottom: 40px;
}
#dashboard ul {
  list-style-type: none;
  width: fit-content;
  margin: auto;
}
#dashboard ul li {
  color: #00816b;
  font-weight: bolder;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  width: 175px;
  height: 280px;
  cursor: pointer;
  margin: 0 5px;
}
#dashboard ul li div {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #1c809d;
  padding-bottom: 10px;
}
.eachServiceContainer {
  background: linear-gradient(rgb(148, 216, 255), rgb(255, 255, 255));
}
#dashboard ul li div .optionsIcon {
  width: 50px;
  height: 50px;
  margin-top: -35px;
  padding: 10px 10px;
  margin-bottom: 5px;
  background-color: rgb(208, 234, 250);
  border-radius: 4px;
}
#dashboard ul li:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.iconHover:hover {
  color: #8f1500;
}
.eachServiceContainer {
  display: block !important;
  height: 280px;
}
#WebsitesPage,
#PatreonsPage,
#VlogsPage,
#TutoringPage,
#MentoringPage,
#loginPage,
#signupPage {
  max-width: 700px;
  margin: auto;
  display: none;
}
#GoBackBtn {
  text-align: center;
  display: none;
  width: fit-content;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 70px;
  cursor: pointer;
}
#GoBackBtn img {
  background-color: #c5f6ff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
#GoBackBtn:hover,
.NextButton:hover,
.PreviousButton:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.NextButton,
.PreviousButton {
  cursor: pointer;
  width: fit-content;
  margin-top: 40px;
  text-align: center;
}
.NextButton img,
.PreviousButton img {
  width: 30px;
  height: auto;
  background-color: #c5f6ff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.NextButton p,
.PreviousButton p {
  margin-top: -5px;
  font-weight: bolder;
  color: #1c809d;
  width: 160px;
}
#GoBackBtn img {
  width: 30px;
  height: auto;
}
.PageIntro {
  text-align: center;
  font-weight: bolder;
}
.PageContent {
  min-height: 35vh;
  display: none;
}
footer {
  background-image: url("footerBg3.svg");
  background-size: 1440px 126px;
  background-repeat: repeat-x;
  /*background-color: #1c809d;*/
  height: 126px;
  width: 100%;
}
footer div img:hover {
  box-shadow: #111111 4px 4px 4px;
  box-shadow: black 4px 4px 4px;
}
.FooterContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#introP {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  /*color: rgb(214, 68, 0);
  color: rgb(0, 50, 78);*/
  color: white;
}
.speech-bubble {
  display: none;
  position: relative;
  /*background: #00445f;*/
  background-image: url("Sun-Tornado.svg");
  background-size: cover;
  border-radius: 0.4em;
  width: fit-content;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  box-shadow: darkgray 0 3px 3px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 53%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-bottom-color: #ff7b00;
  border-top: 0;
  border-left: 0;
  margin-left: -11px;
  margin-top: -22px;
}
.WebsiteEstimatesForm fieldset,
.TutoringSessionForm fieldset {
  color: #408f9d;
  border: 1px solid #408f9d;
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(232, 248, 253);
  width: auto !important;
  margin: auto;
}
.WebsiteEstimatesForm fieldset input,
.TutoringSessionForm fieldset input {
  margin: 5px 0;
  border: none;
  background: none;
  min-width: 250px;
}
.WebsiteEstimatesForm i,
.TutoringSessionForm i {
  margin-right: 10px;
}
.WebsiteEstimatesForm fieldset input[type="checkbox"],
.TutoringSessionForm fieldset input[type="checkbox"] {
  width: 18px;
  margin: 4px;
  padding: 5px;
  border: none;
}
.WebsiteEstimatesForm fieldset textarea,
.TutoringSessionForm fieldset textarea {
  width: 95%;
  margin: 5px 0;
  border: 0;
  border-radius: 4px;
  padding: 5px;
  height: 130px;
}
.submitBtn {
  background-color: darkslateblue;
  color: white;
  padding: 15px;
  border-radius: 4px;
  border: 0;
  margin: 5px;
  min-width: 150px;
}
#UserAvatar,
.shoppingCart,
.Notifications,
.loginBtnIcon,
.logoutBtnIcon {
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 100%;
  background-color: rgb(160, 208, 248);
  cursor: pointer;
}
.shoppingCartParent,
.NotificationsParent,
.LoginBtnParent,
.LogoutBtnParent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*width: fit-content;*/
  /*margin-top: 20px;*/
  position: relative;
  z-index: 3;
  /*background-color: #c5f6ff;*/
  height: 40px;
  /*padding: 4px;
  border-radius: 100%;*/
}
.NotificationsParent {
  margin-top: 20px;
}
.LoginBtnParent {
  display: none;
}
.shoppingCart,
.Notifications,
.loginBtnIcon,
.logoutBtnIcon {
  background: none;
  border-radius: 0;
}
.shoppingCartItemCount,
.NotificationsItemCount {
  width: fit-content;
  font-size: 12px;
  font-weight: bolder;
  background-color: red;
  padding: 4px;
  border-radius: 100%;
  color: white;
  height: 8px;
  min-width: 8px;
  text-align: center;
  margin-left: -15px;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginInputs,
.signupInputs {
  width: fit-content;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.loginInputs input[type="email"],
.loginInputs input[type="password"],
.loginInputs input[type="text"],
.signupInputs input[type="email"],
.signupInputs input[type="password"],
.signupInputs input[type="text"] {
  width: 250px;
  margin: 5px;
  background-color: rgb(211, 243, 253);
  border: none;
  font-size: 17px;
}
.loginInputFld {
  margin-bottom: 10px;
  text-align: left;
  font-weight: bolder;
  color: #1c809d;
  background-color: rgb(211, 243, 253);
  border-radius: 4px;
  border: 1px solid #1c809d;
  padding-left: 10px;
}
.loginSubmitBtn,
.signupSubmitBtn {
  width: 265px;
  margin: auto;
}
.VlogCollection {
  margin-top: 10px;
}
.EachVlog {
  margin: 0;
  margin-top: 5px;
  padding-top: 20px;
  background-color: #eee;
}
.EachVlog p {
  text-align: left;
  color: #8f1500;
  font-weight: bolder;
  margin: 10px;
}
.EachVlog p small {
  text-align: left;
  color: #81625d;
}
.vlogIframe {
  height: 300px;
}
.ClientReviews {
  max-width: 600px;
  margin: auto;
}
.eachReview {
  text-align: center;
}
.reviewProfilePic {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100px;
  margin: auto;
}
.checked {
  color: gold;
}
.slick-prev:before,
.slick-next:before {
  color: red !important;
}
.CopyrightContainer {
  padding-top: 30px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.wholeServiceText {
  margin-top: -120px;
  margin-bottom: 45px;
  color: #700000;
  font-weight: initial;
}
a {
  color: white;
  text-decoration: none;
}

.arrow {
  text-align: center;
  /*margin: 8% 0;*/
  position: fixed;
  z-index: 5;
  left: 50%;
  bottom: 20px;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.JumbotronContent {
  /*background-image: url("cssBackground.jpg");*/
  background: linear-gradient(rgba(14, 207, 255, 0.9), rgba(195, 0, 255, 0.9)),
    url("Photo.jpg");
  /*url("JumbotronBackground9.jpg");*/
  background-size: cover;
  min-width: 100vw;
  background-position: top;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  margin-top: -40px;
}
.JumbotronContentPaddingDiv {
  padding-left: 90px;
  position: absolute;
  left: 10px;
  bottom: 120px;
}
.MyDisplayPic {
  margin-left: 5px;
  padding: 0;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100%;
  /*box-shadow: black 0 0 5px;*/
  animation-duration: 3s;
  animation-delay: 0.5s;
  /*animation-iteration-count: infinite;*/
}
.undoHover {
  /*CSS transitions*/
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
.JumbotronMainText {
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: #007544;
  /*text-shadow: 0 0 3px black;*/
  border-left: 10px solid #007544;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin: 5px;
  background-color: white;
  animation-duration: 3s;
  animation-delay: 1.5s;
  /*animation-iteration-count: infinite;*/
}
.JumbotronSmallText {
  color: rgb(0, 89, 255);
  /*text-shadow: 0 0 3px black;*/
  border-left: 10px solid rgb(0, 89, 255);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin: 5px;
  background-color: white;
  font-weight: bolder;
  animation-duration: 3s;
  animation-delay: 1s;
  /*animation-iteration-count: infinite;*/
}
#WeatherContainer {
  position: absolute;
  right: 100px;
  top: 100px;
  z-index: -1;
  animation-delay: 2s;
  animation-duration: 1s;
}
#notificationsContainer,
#UserInfoContainer {
  display: none;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.856);
  right: 0;
  top: 0;
  z-index: 6;
}
#UserInfoContainer {
  background-color: white;
}
#userPageProfilePhoto,
#userPageProfileAvatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}
#addProfilePhotoBtn {
  padding-bottom: 10px;
  cursor: pointer;
}
.UserPageInput {
  border: none;
  margin-top: 5px;
  padding: 5px;
  min-width: 180px;
}
#choosePhotoLabel,
#choosePhotoInput,
#uploadPhotoBtn {
  cursor: pointer;
  display: none;
}
#uploadPhotoBtn,
#AddReviewBtn {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  color: white;
  border-radius: 4px;
  background-color: darkslateblue;
  text-align: center;
}
#loginBtnAtProfilePage,
#updateUserAccountBtn {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  text-align: center;
  color: white;
  background-color: darkslateblue;
}
#updateUserAccountBtn {
  display: none;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.closeIcon {
  position: fixed;
  right: 10px;
  top: 10px;
  color: red;
  cursor: pointer;
}
.socialIcons {
  background-color: white;
  padding: 10px;
  margin: 5px;
  border-left: 10px solid rgb(216, 0, 0);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 150px;
}
.socialIcons a {
  /*color: rgb(106, 176, 204);*/
  color: rgb(216, 0, 0);
}
.socialIcons a i:hover {
  color: crimson !important;
}
.ProjectsDisplay {
  text-align: center;
}
@media only screen and (max-width: 700px) {
  #WeatherContainer {
    position: absolute;
    right: 50px;
    top: 70px;
    z-index: -1;
    animation-delay: 3s;
    animation-duration: 3s;
  }
  #WeatherContainer p,
  #WeatherContainer h2 {
    font-size: 14px;
  }
  #WeatherContainer img {
    width: 80px;
    height: 80px;
  }
  .JumbotronContent {
    margin-top: -25px;
    width: 100%;
    background-size: cover;
    background-position: center top;
  }
  .JumbotronContentPaddingDiv {
    padding-left: 10px;
    position: absolute;
    left: 10px;
    bottom: 100px;
  }

  .JumbotronMainText {
    font-size: 27px;
  }
  .JumbotronSmallText {
    font-size: 14px;
  }
  .socialIcons a {
  }
  .arrow {
    position: fixed;
    z-index: 4;
    left: 46%;
    bottom: 20;
  }
  body {
    background-position: -200px top;
    background: none;
    max-width: 100vw;
    overflow-x: hidden;
  }
  .vlogIframe {
    height: 150px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }

  main {
    margin-top: -22px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .EachVlog {
  }
  .loginBtn,
  .logoutBtn {
    padding-right: 0;
  }
  header {
    padding-top: 5;
    margin: 0;
    max-height: 42px;
  }
  #NavbarRightIcons {
    /*background-color: #4b188dce;*/
    margin-right: 5px;
    padding-top: 0;
  }
  header div ul {
    display: none;
    color: rgb(106, 157, 204);
  }
  #dashboard ul {
    width: 90vw;
    margin: auto;
  }
  #dashboard ul li {
    display: initial;
    width: 100%;
    /*background-color: #c5f6ff;*/
  }
  #dashboard ul li div {
    /*background-color: #c5f6ff;
    width: 100%;*/
  }
  #dashboard ul li .optionsIcon {
    margin: auto;
    max-width: 50px;
    max-height: 50px;
  }
  .sectionSeperatorParent {
    width: 100%;
  }
  .sectionSeperator {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .eachAdditionalImg {
    width: 100vw;
  }
  .additionalImg {
    max-height: 200px;
  }
  .NALogo,
  .JoinBtn {
    width: 60px;
    height: 25px;
    padding: 5px;
    margin-right: 0;
  }
  #logoLi {
    padding: 0;
  }
  #introP {
    margin: 10px;
    margin-top: 0;
    padding: 10px;
  }
  .speech-bubble {
    margin-left: 5px;
    margin-right: 5px;
  }
  .WebsiteEstimatesForm {
    padding: 5px;
    padding-top: 0px;
  }
  footer {
    padding-top: 60px;
    margin-top: 20px;
    height: 300px;
    background-size: cover;
  }
  footer .wrapper {
    text-align: center;
  }
  .FooterContent {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .shoppingCartParent,
  .NotificationsParent,
  .LoginBtnParent,
  .LogoutBtnParent {
  }
  .NotificationsParent {
    padding-top: 5px;
  }
  .LoginBtnParent,
  .LogoutBtnParent {
    display: flex;
    flex-direction: column;
    /*background-color: #0f00226e;*/
    width: 100%;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 4px;
  }
  .loginBtn,
  .logoutBtn {
    margin: auto;
  }
  .CopyrightContainer {
    height: 110px;
  }
  #SCrollTopMenuList {
    display: none;
  }
  #ScrollToTopIcon {
    display: block;
    font-size: 40px;
    margin-right: 10px;
    color: red;
  }
  #TopOnScrollIcon {
    margin-left: 10px;
    /*width: 75px;
    height: 30px;*/
  }
  .additionalDashboardImages {
    max-width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .additionalDashboardImages div img {
    margin: 0 !important;
    min-height: 200px !important;
  }
  .additionalDashboardImages div p {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: -160px;
  }
  .AllAdditionalPhotos div img {
    width: 100%;
    height: 70px !important;
    min-height: 70px !important;
  }
}
@media only screen and (max-width: 320px) {
  body {
    background-position: -220px top;
  }
  header div ul {
    display: none;
  }
}
