* {
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}
input[type="text"] {
  border-radius: 0;
}
input[type="submit"] {
  border-radius: 0;
}
input[type="email"] {
  border-radius: 0;
}
input[type="button"] {
  border-radius: 0;
}
input[type="checkbox"] {
  position: relative;
  appearance: none;
  outline: none;
  width: 20px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #ffffff;
  transition-duration: 200ms;
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6.5px;
  height: 6.5px;
  background-color: transparent;
  border: 1px solid darkgrey;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked {
  border-color: #4ed164;
  box-shadow: inset 20px 0 0 0 #4ed164;
}

input[type="checkbox"]:checked:after {
  left: 10px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.05);
}

input[type="radio"] {
  position: relative;
  appearance: none;
  outline: none;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #d9dadc;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #ffffff;
  transition-duration: 200ms;
}

input[type="radio"]:checked {
  border-color: #4ed164;
  box-shadow: inset 20px 0 0 0 #4ed164;
}
a {
  text-decoration: none;
  color: black;
}
.wrapper {
  max-width: 1500px;
  margin: auto;
}
body {
  background-image: url("bodyBackground2.svg");
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: Roboto;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
header div ul {
  list-style-type: none;
}
header div ul li {
  font-weight: bolder;
  color: rgb(106, 176, 204);
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
}
header div ul li:hover {
  color: crimson;
}
header div ul li.active {
  color: crimson;
}
.callUsBtn {
  background-color: aliceblue;
  margin-top: 4px;
  padding: 10px;
  border-radius: 4px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.callUsBtn:hover {
  background-color: lightblue;
}
.loginBtn,
.logoutBtn {
  text-align: right;
  color: #1c809d;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}
.loginBtn img,
.logoutBtn img {
  width: 20px;
}
.loginBtn sup,
.logoutBtn sup {
  font-size: 14px;
  margin-right: 4px;
}
.loginBtnContent,
.logoutBtnContent {
  width: fit-content;
  font-weight: bolder;
  margin: auto;
  /*background-color: #7effd8;*/
}
.logoutBtnContent:hover,
.loginBtnContent:hover {
  /*background-color: #ffa46f;*/
  color: crimson;
}
.NALogo {
  width: 100px;
  height: 40px;
  max-height: 70px;
  margin-right: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
}
main {
  min-height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#dashboard ul {
  list-style-type: none;
  width: fit-content;
  margin: auto;
}
#dashboard ul li {
  color: #00816b;
  font-weight: bolder;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  width: 175px;
  height: 250px;
  cursor: pointer;
}
#dashboard ul li div {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #1c809d;
}
#dashboard ul li div img {
  width: 70px;
  height: 70px;
  background-color: #c5f6ff;
  padding: 30px 45px;
  margin-bottom: 5px;
  border-radius: 5px;
}
#dashboard ul li:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
#WebsitesPage,
#PatreonsPage,
#VlogsPage,
#TutoringPage,
#MentoringPage,
#loginPage,
#signupPage {
  max-width: 700px;
  margin: auto;
  display: none;
}
#GoBackBtn {
  text-align: center;
  display: none;
  width: fit-content;
  margin: auto;
  margin-bottom: 40px;
  cursor: pointer;
}
#GoBackBtn img {
  background-color: #c5f6ff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
#GoBackBtn:hover,
.NextButton:hover,
.PreviousButton:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.NextButton,
.PreviousButton {
  cursor: pointer;
  width: fit-content;
  margin-top: 40px;
  text-align: center;
}
.NextButton img,
.PreviousButton img {
  width: 30px;
  height: auto;
  background-color: #c5f6ff;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.NextButton p,
.PreviousButton p {
  margin-top: -5px;
  font-weight: bolder;
  color: #1c809d;
  width: 160px;
}
#GoBackBtn img {
  width: 30px;
  height: auto;
}
.PageIntro {
  text-align: center;
  font-weight: bolder;
}
.PageContent {
  min-height: 35vh;
  display: none;
}
footer {
  background-image: url("footerBg3.svg");
  background-size: 1440px 126px;
  background-repeat: repeat-x;
  /*background-color: #1c809d;*/
  height: 126px;
  width: 100%;
}
footer div img:hover {
  box-shadow: #125264 4px 4px 4px;
}
#introP {
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  color: rgb(214, 68, 0);
}
.WebsiteEstimatesForm fieldset {
  color: #408f9d;
  border: 1px solid #408f9d;
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(211, 243, 253);
  max-width: 700px;
  margin: auto;
  margin-top: 15px;
}
.WebsiteEstimatesForm fieldset input {
  max-width: 500px;
  width: 95%;
  margin: 5px 0;
  border: 0;
  border-radius: 4px;
  padding: 5px;
}
.WebsiteEstimatesForm fieldset input[type="checkbox"] {
  width: 18px;
  margin: 4px;
}
.WebsiteEstimatesForm fieldset textarea {
  width: 95%;
  margin: 5px 0;
  border: 0;
  border-radius: 4px;
  padding: 5px;
  height: 130px;
}
.submitBtn {
  background-color: darkslateblue;
  color: white;
  padding: 15px;
  border-radius: 4px;
  border: 0;
  margin: 5px;
  min-width: 150px;
}
#UserAvatar {
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 100%;
  background-color: rgb(211, 243, 253);
}
.loginInputs,
.signupInputs {
  width: fit-content;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.loginInputs input[type="email"],
.loginInputs input[type="password"],
.loginInputs input[type="text"],
.signupInputs input[type="email"],
.signupInputs input[type="password"],
.signupInputs input[type="text"] {
  padding: 10px;
  width: 250px;
  margin: 5px;
  background-color: rgb(211, 243, 253);
  border-radius: 4px;
  border: 1px solid #1c809d;
}
.loginSubmitBtn,
.signupSubmitBtn {
  width: 250px;
  margin: auto;
}
@media only screen and (max-width: 700px) {
  body {
    background-position: -200px top;
  }
  .loginBtn,
  .logoutBtn {
    padding-right: 0;
  }
  header {
    padding-top: 5;
    padding-bottom: 60px;
    margin: 0;
  }
  header div ul {
    display: none;
  }
  #dashboard ul li {
    display: initial;
  }
  #dashboard ul li div {
    margin-top: 30px;
  }
  #dashboard ul li img {
    margin: auto;
  }
  .NALogo {
    width: 110px;
    height: 50px;
    padding: 5px;
    margin-right: 0;
  }
  #introP {
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    background-color: white;
  }
  .WebsiteEstimatesForm {
    padding: 5px;
    padding-top: 50px;
  }
  footer {
    padding-top: 10px;
    margin-top: 20px;
    height: 200px;
    background-size: cover;
  }
}
@media only screen and (max-width: 320px) {
  body {
    background-position: -220px top;
  }
  header div ul {
    display: none;
  }
}
